.booking-form{
    margin:30px 800px;
    padding-top: 100px;
    padding-bottom: 130px;
}
.booking-form input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}